#Partnerships{
    color: green;
}
#Welcome{
    color: red;
}
#About{
    color: blue;
}
#Contact Us{
    color:darkslategray;
}
#Tips{
    color: aquamarine;
}
body{
    background-color: black;
}